.container-wrapper {
    height: 80%;
    margin: 30px auto 300px;
}

.home-image {
    display: block;
    width: 100% !important;
    height: auto !important;
}

#units.form-Control {
    width: 200px;
}

#price.form-Control {
    width: 200px;
}
.table {
    table-layout: fixed;
    overflow: auto;
}

.th {
    text-align: center;
}

.td {
    text-align: center;
    background: #c1e2b3;

    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}